.container {
  display: inline-block;
}
.header {
  width: 100%;
  background-color: black;
  margin: 0;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.left-nav {
  color: white;
  display: flex;
  align-items: center;
  gap: 0.5em;
  padding: 0 4em;
}
.right-nav {
  padding: 0 4em;
}
.submit-req,
.signin {
  /* height: 50%; */
  font-size: 1.25rem;
  color: white;
  max-width: 20vw;
  margin-left: min(3vw, 20px);
  border-radius: 4px;
}
.submit-req {
  background-color: black;

  border: 2px solid white;
  /* padding: ; */
}
.signin {
  background-color: #4c5fd5;
  border: none;
  /* padding: 2.5% 1%; */
}
.hero {
  height: 30%;
  margin: 0;
  background-color: #dadbf1;
  display: flex;
  flex-direction: column;
  place-content: center;
  align-items: center;
  font-size: 2em;
  padding: 2em;
}
.hero > h1 {
  margin: 0;
  padding: 0;
  margin-bottom: 0.5em;
}

.input-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
  width: 90%;
  height: 4vh;
  border-radius: 4px;
  overflow: hidden;

  width: 35%;
  position: relative;
}

.search {
  flex: 1;
  border: none;
  outline: none;
  font-size: 1rem;
  /* border: 3px solid #00b4cc; */
  border-right: none;
  padding: 5px;
  height: 100%;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9dbfaf;
}
.search:focus {
  color: #000000;
}

.search-button {
  background: #4c5fd5;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.icon {
  margin-left: 5px; /* Add some spacing between the text and icon */
  font-size: 1.25rem; /* Adjust the icon size as needed */
}

.grid-container {
  display: grid;
  padding-top: 4em;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-inline: 7vw;
  /* grid-template-columns: repeat(2, 1fr); */
  grid-auto-rows: minmax(100px, auto);
}
.grid-container::after {
  content: "";
  /* display: table; */
  /* clear: both; */
}
.grid-item {
  background-color: white;
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
  color: black;
  padding-block: 5vh;
  padding-inline: min(5em, 10vw);
  /* font-size: 30px; */
  text-align: center;
}

.btn-wrapper {
  display: flex;
  place-content: center;
  gap: 0.2em;
}
footer {
  /* margin-top: 100px; */
  background-color: #000;
  color: rgb(255, 255, 255);
  border: 1px solid rgb(0, 0, 0);
}
.footer-grid {
  display: grid;
  /* place-content: center;
  justify-content: space-evenly; */
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 4px;
  margin-bottom: 50px;
}
.footer-grid-item {
  padding-top: 40px;
  display: grid;
  grid-template-rows: 1fr 2fr;
  text-align: center;
}
/* .button-container {
  display: flex;
  flex-direction: column;
}

.footer-btn {
  background: none;
  border: 0px;
  margin: 0;
  padding: 0;
  color: rgb(255, 255, 255);
} */

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align-items: center; */
  padding-top: 1vh;
}

.footer-btn {
  background: none;
  border: none;
  padding: 5px 10px; /* Add padding to the buttons */
  margin: 0; /* Add margin to separate the buttons */
  color: white; /* Change button text color to white */
  text-align: center; /* Center the text within buttons */
  cursor: pointer;
}
.footer-grid-item > h3 {
  margin-bottom: 0;
  margin-top: 10%;
}
.contact-info {
  display: flex;
  flex-direction: column;
}
.footer-grid-item-l {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10vh;
  /* float: left; */
  align-items: flex-start;
  gap: 1.25em;
}
.copyright {
  display: flex;
  flex-direction: column;
  /* justify-content: end; */
  margin: 0;
}
.copyright > p {
  margin: 0;
}
